<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CKS-Home</title>
  <meta name="renderer" content="webkit"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> 
  <meta name="apple-mobile-web-app-status-bar-style" content="black"> 
  <meta name="apple-mobile-web-app-capable" content="yes">  
  <meta name="format-detection" content="telephone=no"> 
    <style type="text/css">
        div{
            width:100%;height:100%;  /*设置div的大小*/
            text-align: center;        /*文字水平居中对齐*/
            line-height: 500px;        /*设置文字行距等于div的高度*/
            overflow:hidden;
            font-size:30px;
        }
    </style>
</head>
<body>
<div>欢迎光临</div>

</body>
</html>