<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>兑换平台策略</title>

    <link rel="stylesheet" href="__PUBLIC__/css/content.css" />
    <link rel="stylesheet" href="__PUBLIC__/js/layui/css/layui.css">
    <!-- 引入jQuery UI的css文件 -->
    <link rel="stylesheet" href="__PUBLIC__/js/bootstrap3.37/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/js/My97DatePicker/skin/WdatePicker.css">
    <script src="__PUBLIC__/js/jquery.min.js?v=2.1.4"></script>
    <script src="__PUBLIC__/js/layui/layui.js"></script>
    <script src="__PUBLIC__/js/bootstrap3.37/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/global.js"></script>
    <script src="__PUBLIC__/js/layui/layui.js" charset="utf-8"></script>
    <script language="javascript" type="text/javascript" src="__PUBLIC__/js/date/WdatePicker.js"></script>

</head>
<style>
    .panel-primary{
        border-color: #1ab394;
    }
    a{
        text-decoration: none !important;
    }
    .check_all_box{
        float: right;
        position: absolute;
        top: 80px;
        left: 450px;
    }
</style>
<body>
<div class="container-fluid" style="margin-top: 10px">
    <div class="panel panel-primary">
        <div class="panel-heading" style="background-color: #1ab394;border-color: #1ab394;">
            <span class="badge" style=" color: #1ab394;" >兑换平台策略</span>
            <i id="add-manager" class="layui-icon" style="float:right;font-size: 20px;margin-top:-5px;cursor:pointer">&#xe654;</i>
        </div>
    </div>
</div>


<form onkeydown="if(event.keyCode==13) return false;">
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 100px;">产品型号</label>
        <div class="layui-input-inline">
            <input id='product-model' name="pname" value="<?php echo $pname ?>" placeholder="请输入产品型号" autocomplete="off" class="layui-input" type="text" >
            <div id="aaresults" style="display: none;height: 150px;overflow-y: scroll">

            </div>
        </div>
        <div class="layui-btn" id="search-product">搜索</div>

    </div>
</form>

<div class="check_all_box">
    <input class='all_pname' data-id="<?php echo $v['id']?>" type="checkbox" name="all_pname[]"  value="">全选(型号)
</div>
<div class="container-fluid" id="add-manage-popup" style="display:none;margin-left:20px;margin-top:20px;">
    <form class="layui-form" action="" onkeydown="if(event.keyCode==13) return false;">
        <i id="add-channel" class="layui-icon" style="float:right;font-size: 20px;margin-top:-5px;cursor:pointer">&#xe654;</i>
        <div class="layui-form-item layui-form-item-insert">
            <div class="layui-inline">
                <label class="layui-form-label" style="width:100px">兑换平台</label>
                <div class="layui-input-inline">
                    <select name="customer_channel" class="platform customer_channel" id="customer_channel" >
                        <option value="1-1">商城</option>
                        <option value="1-2">推啥</option>
                        <option value="1-3">DDW</option>
                        <option value="1-4">以太星球</option>
                        <option value="7-1">华夏金融</option>
                        <option value="7-2">骏合金信</option>
                    </select>
                    <!--<input name="customer_channel" autocomplete="off" placeholder="请输入兑换平台" class="layui-input customer_channel" type="text" id="customer_channel">-->
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">比例</label>
                <div class="layui-input-inline">
                    <input onKeyUp="globalFn.amount(this)" onBlur="globalFn.overFormat(this)"  name="ratio"  placeholder="请输入比例" class="layui-input" type="text" id="ratio">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-inline">
                <button class="layui-btn" lay-submit="" lay-filter="policy_submit" id="policy_submit" style="margin-left:50px">提交</button>
            </div>
        </div>

    </form>
</div>

<div class="container-fluid">
    <table class="layui-table" lay-data="{width: 892, height:332, url:BatchPolicy/shippingTime page:true, id:'idTest'}" lay-filter="idTest">
        <thead>
        <tr>
            <th style="width:150px;" ><input id="all_pnumber" class='all_pnumber' data-id="<?php echo $v['id']?>" type="checkbox" name="all_pnumber[]" value="">全选(料号)</th>
            <th >料号</th>
            <th style="border-right:none;width:400px" >兑换平台</th>
            <th style="border-left:none;width:400px">比例</th>
        </tr>
        </thead>
        <tbody>
        <?php $i = 0;?>
        <?php foreach($data as $key => $val):?>

        <tr>
            <td><input class='all_pnumber all_pnumber_child' data-id="<?php echo $val['id']?>" type="checkbox" name="all_pnumber[]" value=""></td>
            <td><?php echo $key?></td>
            <td colspan="2">
                <?php foreach($val[4] as $v):?>
                <div class="all_pnumber<?php echo $i;?>  all_pnumber_sec  tag_<?php echo $v['id'] ?>" policy-id="<?php echo $v['id'] ?>"><span style="width:100px;display:block;float: left"><?php echo $v['platform_name'];?></span><span style="margin-right:300px "></span><?php echo $v['policy_value'];?></div>
                <?php endforeach;?>
            </td>
        </tr>
        <?php $i++;?>
        <?php endforeach;?>
        </tbody>

    </table>
</div>

</body>
<script>

    $(function() {

        //点击添加
        $("body").on('click','#add-manager',function () {
            if(!shippingTimeFn.checkNum()){
                layer.msg('请选择料号或者型号');
                return false;
            }

            //型号、料号必选
            if(!shippingTimeFn.checkPnumberPnameNum()){
                layer.msg('料号和型号只能选择其一');
                return false;
            };
            $('.del-tag').remove();
            globalFn.lyPopup('添加兑换平台', ['700px', '450px'],'add-manage-popup',1);

        });
        //模糊搜索
        $('#product-model').on('input propertychange', function() {
            $("#aaresults").html('');
            $.post("{:U('dimSearch')}", {pname: $(this).val()}, function (data) {
                var htmls = '';
                if (data.data.length >0) {
                    var field = data.field;
                    for (var i in data.data)
                        htmls = htmls + "<p>" + data.data[i][data.field] + "</p>";
                    $("#aaresults").html(htmls);
                    $("#aaresults").show();
                }

            });
        });

        $("body").on('click','#aaresults p',function () {
            var index = $(this).index("#aaresults p");
            postPnumberValue =  $("#aaresults p").eq(index).html();
            $("#product-model").val(postPnumberValue);
            $("#aaresults").html('');
            $("#aaresults").hide();

        })

        //添加渠道框
        $("body").on('click','#add-channel',function () {
            var iptStr = "<div class='layui-inline del-tag'>"+
                "<label class='layui-form-label' style='width:100px'>兑换平台</label>" +
                "<div class='layui-input-inline'>" +
                "<select style='display:block;width:190px;height:36px' name='customer_channel' lay-verify=''  class='platform customer_channel'>" +
                "<option value='1-1'>商城</option>"+
                "<option value='1-2'>推啥</option>"+
                "<option value='1-3'>DDW</option>"+
                "<option value='1-4'>以太星球</option>"+
                "<option value='7-1'>华夏金融</option>"+
                "<option value='7-2'>骏合金信</option>"+
                "</select>"+
                "</div></div>" +
                "<div class='layui-inline del-tag'>"+
                "<label class='layui-form-label'>比例</label>" +
                "<div class='layui-input-inline'>" +
                "<input onKeyUp='globalFn.amount(this)' onBlur='globalFn.overFormat(this)' name='ratio' autocomplete='off' placeholder='请输入比例' class='layui-input' type='text'>" +
                "</div></div><a class='delete del-tag' href='#'></a>";

            $(".layui-form-item-insert").append(iptStr);

        })

        //删除渠道框
        $("body").on('click','.delete',function () {
            var _this = $(this);
            for(var i in [1,2]) _this.prev().remove();
            _this.remove();
        })

        //搜索
        $('#search-product').click(function () {
            var pname = $.trim($('#product-model').val());
            if($.trim(pname) == ''){
                layer.msg('请输入产品型号');
                return false;
            }
            window.location.href = "/index.php/Admin/BatchPolicy/searchPnameShowPolicy.html?pname="+pname+"&policyType=4";
        })

        //全选
        $("body").on('click', "#all_pnumber",function(){
            $("#all_pnumber").prop("checked")?  globalFn.checkBoxSecAll(true): globalFn.checkBoxSecAll(false);
        });


        //不全选
        $("body").on('click', ".all_pnumber_child",function(){
            globalFn.checkBoxSecNotAll();
        });
        layui.use(['form'], function(){
            var form = layui.form(),layer = layui.layer;
            //监听提交
            form.on('submit(policy_submit)', function(data){

                //型号料号选择
                if(!shippingTimeFn.checkNum()){
                    layer.msg('请选择料号或者型号');
                    return false;
                }

                //型号、料号必选
                if(!shippingTimeFn.checkPnumberPnameNum()){
                    layer.msg('料号和型号只能选择其一');
                    return false;
                };

                //判断渠道名是否重复
                var rtn = true;
                $('.customer_channel').each(function(){
                    if(!shippingTimeFn.checkChannelRepeat($(this).val())){
                        rtn = false;
                        return false;
                    }
                })

                if(!rtn){layer.msg('兑换平台不能重复');return false;};

                var checkValue = true;
                $('.customer_channel').each(function(){
                    var iptValue = $.trim($(this).val());//渠道值

                    var  ratio = $.trim($(this).parent().parent().next().find("input[name='ratio']").val());//对应比例

                    if((iptValue == '' && ratio != '') || (iptValue != '' && ratio == '')){

                        checkValue = false;

                        return false;
                    }

                })
                if(!checkValue){layer.msg('请填写对应兑换平台或者比例');return false;};

                //更改类型
                var tag = $('.all_pname').prop("checked")?1:0;
                var policy_ids = [];
                var channel_arr = [];

                //组装id
                $(".all_pnumber_child").each(function(i){

                    if($(this).prop("checked"))
                        $('.all_pnumber'+i).each(function () {
                            policy_ids.push($(this).attr('policy-id'));
                        })
                })

                //组装渠道名-比例
                $(".customer_channel").each(function(i){

                    var iptValue = $.trim($(this).val());//渠道值

                    var  ratio = $(this).parent().parent().next().find("input[name='ratio']").val();

                    if(iptValue != '')
                        channel_arr.push([iptValue, ratio]);
                })


                if(channel_arr.length <=0) { layer.msg('请选择兑换平台'); return false; }
                console.log(channel_arr);
                //console.log(policy_ids);

                if(tag == 1){
                    layer.confirm('删除原有数据，新增插入数据', {
                        btn: ['确定','取消'] //按钮
                    }, function(){
                        shippingTimeFn.postRequest("{:U('batchModifyPlatformSubmit')}",tag, policy_ids,channel_arr);
                    });
                }else{
                    shippingTimeFn.postRequest("{:U('batchModifyPlatformSubmit')}",tag, policy_ids,channel_arr);
                }

                return false;

            });

        })
        layui.use(['form', 'layedit', 'laydate'], function(){})

    })
    var shippingTimeFn = {
        checkChannelRepeat:function (channelName){
            //校验联系信息不能一致
            var values="";
            $(".customer_channel").each(function(i,item){
                var value=$(this).val();
                values+=value; //获取所有的名称
            });
            //var val=thisIpt.val(); //获得当前输入框的值
            var newValue=values.replace(channelName,""); //去除当前输入框的值
            if(newValue==""){
                return true;
            }else{
                if(newValue.indexOf(channelName)>-1){  //当前值和newValue作比较
                    return false;
                    //alert("渠道名称不能重复");
                    //$(data).focus();
                }else{
                    return true;
                }
            }
        },

        timeFilter:function () {
            var pname = $.trim($('#product-model').val());
            var beginDate=$("#start_time").val();
            var endDate=$("#end_time").val();
            var d1 = new Date(beginDate.replace(/\-/g, "\/"));
            var d2 = new Date(endDate.replace(/\-/g, "\/"));

            return beginDate!=""&&endDate!=""&&d1 >=d2?false:true;
        },

        checkNum:function(){ return $("input[type='checkbox']:checked").length == 0?false:true; },

        checkPnumberPnameNum:function(){ return $('.all_pname').prop("checked") && $("input[name='all_pnumber[]']:checked").length >0?false:true; },

        postRequest:function(url, tag, policyIds, platforms){
            _index = layer.load();
            $.post(url, {
                tag:tag,
                policy_ids:policyIds,
                platforms:platforms,
            },function(data){
                layer.close(_index);
                if(data.status == 0) shippingTimeFn.setTimeOutJump(data.msg);
                if(data.status == -1)layer.msg(data.msg);
                if(data.status == 1){

                    for (var i in data.conflict){
                        $('.all_pnumber_sec').each(function(){
                            if($(this).attr('policy-id') == data.conflict[i].id){
                                $(".tag_"+data.conflict[i].id).css("background-color","red");
                            }
                        })
                    }

                    layer.confirm(data.msg, {
                        btn: ['确定','取消'] //按钮
                    }, function(){
                        _index2 = layer.load();
                        $.post("{:U('batchModifyPlatformHard')}", {
                            tag:tag,
                            policy_ids:policyIds,
                            platforms:platforms,
                        },function(res){
                            layer.close(_index2);
                            if(res.status == 0) shippingTimeFn.setTimeOutJump(res.msg);
                            if(res.status == -1)layer.msg(res.msg);
                        })
                    });
                };
            });
        },

        setTimeOutJump:function(msg){
            setTimeout(function () { layer.msg(msg) }, 1000);
            setTimeout(function(){window.location.href = "/index.php/Admin/BatchPolicy/searchPnameShowPolicy.html?pname="+$.trim($('#product-model').val())+"&policyType=4"}, 2000);
        }

    }
</script>
</html>